.flex-style{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
}

.div-border{
    border-radius: 10px;
    padding: 10px;
}
.div-black-border{
    border:1px solid black;
}

.p-color{
    color: black;
}