.header-style{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 90%;
    font-family: cursive;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-size{
    width: 60px;
    height: 60px;
}
.pageName{
    color: rgb(175, 163, 170);
    padding: 5px;
}
.about-us{
    font-size: larger;
    color: rgb(175, 163, 170);
    font-weight: 900;
}
.about-us:hover{
    color: rgb(243,17,112);
    cursor: pointer;
}

.line-through{
    height: 1px;
    background-color: lightgray;
    border: none;
}

.header-home-link{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.header-about-link{
    text-decoration: none;
}