.pageBody{
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    background-color: rgb(15, 1, 10);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpfkGOQn6ffwGPLTbrO5GHb2YskXdL42cIiw&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}